<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>コメント一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><span class="font_head_color">FOOTBALL</span>.com</h1>
    <hr width="600">
    <h2>このサイトはサッカー情報をシェアするサイトです</h2>
    <%= link_to "新規登録はこちら", signup_path, class: "btn btn-lg btn-primary"%>
  </div>

<% end %>