<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3" style = color:white>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email,"メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password,"パスワード" %>
      <%= link_to "(パスワードを忘れた)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>パスワードを記憶する</span>
      <% end %>

      <%= f.submit "ログインする", class: "btn btn-primary" %>
    <% end %>

    <p>まだアカウントをお持ちでない方は<%= link_to "新規登録", signup_path %></p>
  </div>
</div>