<% provide(:title, "新しいパスワード") %>
<h1>新しいパスワードを作る</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3" style = color:white>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email,"メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "送信する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
