<% provide(:title, "プロフィール編集") %>
<h1>プロフィール編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3" style = color:white>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name,"名前"%>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email,"メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password,"パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード（再入力）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "プロフィールを変更する", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">ユーザー画像の変更</a>
    </div>
  </div>
</div>