@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 120px;
}

section {
  overflow: auto;
}


hr {
	border-top: 2px dashed rgba(255,255,255,0.5);
	margin-bottom :8px;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
    color: white;
    font-family: 'Superclarendon','Segoe UI Black',sans-serif;
    text-shadow: 2px 2px 1px #000, //文字枠太さ・色
             -2px 2px 1px #000,
             2px -2px 1px #000,
             -2px -2px 1px #000;
    letter-spacing: 0em; //文字間隔
  }
}

.jumbotron {
  background: none; //タイトル背景の透明化（表示しない）
}

.font_head_color{
  color: gold;
}

.btn { //ボタン全般へ
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-color: white;
  &:hover { 
    color: gold;
    background-color: rgba(0,0,0,0.5);
    border-color: gold;
    text-decoration: none;
  }
  &:focus {
    color: gold;
    background-color: rgba(0,0,0,0.5);
    
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-family: 'Superclarendon','Segoe UI Black','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1.5px;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

h3{
  font-size: 1.2em;
  line-height: 1.7em;
  color: white;
}

p {
  font-size: 1.4em;
  line-height: 1.7em;
  color: white;
}

/* header */

.navbar-fixed-top {
  background-color: rgba(0,0,0,0.5);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Superclarendon','Segoe UI Black','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  &:hover {
    color: gold;
    text-decoration: none;
  }
}

#menu{
  color: white;
  &:hover {
    color: gold;
    text-decoration: none;
    background-color: rgba(255,255,255,0.2);
  }
}

#menu2{
  color: white;
  &:hover {
    color: gold;
    background-color: rgba(255,255,255,0.2);
  }
}

.dropdown-menu{
  background-color: rgba(0,0,0,0.5);
  border-color: none;
}


/* footer */

.navbar-fixed-bottom {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

footer {
  margin-top: 250px;
  padding-top: 15px;
  border-top: 1px solid #eaeaea;
  color: white
  
  a {
    color: white;
  }
  a:hover {
    color: gold;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 15px;
  }
}

/* シェアボタン*/

.facebook {
  background-color: #305097;
  border: 2px solid #305097;
  border-radius: 2px;
  color: #fff;
  padding:4px 23px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 32px;
}
.facebook:hover {
  background-color: #fff;
  color: #305097;
}
.facebook:focus {
    color: #fff;
    background-color: #305097;
}

.twitter {
  background-color: #55acee;
  border: 2px solid #55acee;
  border-radius: 2px;
  color: #fff;
  padding:4px 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 32px;
}
.twitter:hover {
  background-color: #fff;
  color: #55acee;
}
.twitter:focus {
    color: #fff;
    background-color: #55acee;
}

.line {
  background-color: #5ae628;
  border: 2px solid #5ae628;
  border-radius: 2px;
  color: #fff;
  padding:4px 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 32px;
}
.line:hover {
  background-color: #fff;
  color: #5ae628;
}
.line:focus {
    color: #fff;
    background-color: #5ae628;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.8em;
      text-align: left;
      letter-spacing: -0.5px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: white;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: gold;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.field{
  color: black;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 2px solid rgba(255,255,255,0.5);
  }
  .user {
    margin-top: 10em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: white;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.row {
  color: white;
}

/* Link page */

.cole {
  font-size: 2.7em;
  line-height: 1.2em;
  letter-spacing: 0.5px;
  margin-top: 100px;
  color: gold;
  font-family: 'Impact','Verdana',sans-serif;
}

.cole2 {
  font-size: 1em;
  color: gold;
  margin-top: -1em;
}

.commentary {
  font-size: 1.2em;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: -10px;
}

.hr_link {
  margin-bottom: 100px;
}


body {
  background-image: image-url("main01.png"); //画像指定
  background-position: center center; //画面中央に表示
  background-repeat: no-repeat; //画像を繰り返し表示しない
  background-attachment: fixed; //画像の位置が固定され、スクロールしても動かない
  background-size: cover; //縦横比は保持して、背景領域を完全に覆うように背景画像を拡大縮小する
}


/* 検索機能＿https://qiita.com/YN6127yn/items/fca9efa22536b8b2a9efを参照*/

.search_form {
  color: white;
  overflow: auto;
  margin: 10px;
  float: right;
  .input-group {
    width: 300px;
    .form-control {
      width: 250px;
    }
    .btn {
      width: 70px;
    }
  }
}