<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "FOOTBALL.com", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path, id: "menu"%></li>
        <li><%= link_to "このサイトについて", help_path, id: "menu"%></li>
        <li><%= link_to "お問い合わせ", contact_path, id: "menu"%></li>
        <% if logged_in? %>
          <li><%= link_to "おすすめリンク集", link_path, id: "menu"%></li>
          <li><%= link_to "ユーザー一覧", users_path, id: "menu"%></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown", id="menu">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user , id: "menu2"%></li>
              <li><%= link_to "設定", edit_user_path(current_user), id: "menu2" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete, id: "menu2" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path, id: "menu"%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>